
type {{pascalCase componentName}}PresenterProps = {};


export const {{pascalCase componentName}}Presenter = ({}: {{pascalCase componentName}}PresenterProps) => {
  return (
    <div>{{pascalCase componentName}}Presenter</div>
  );
};